html,
body {
	margin:0;
	padding:0;
	height:100%;
    background: #999999;
}
h1 
{
    text-align: center;
}

nav ul 
{
    list-style:none;
    text-align: center;
    font-family: verdana, Arial, Helvetica, sans-serif;
    border-bottom: 10px solid #289dcc;
    list-style: none;
    background: #444444;
    color:#999999;
    width:100%;
    height:19px;
    margin:0;
}

nav li 
{
    display: inline;
    
    border-right: 2px solid #999999;
}
nav li:first-child
{
	border-left: 2px solid #999999;
}

nav li a
{
	text-decoration: none;
	color: white;
	padding: 0px 5px;
	text-align: center;
}

nav li:hover 
{
    background-color: #289dcc;
}

.wrapper 
{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
    font-family: verdana, Arial, Helvetica, sans-serif;
}

.body {text-align:center;}

.loginform form ul{list-style: none;}

#video1{float: left;}

#video2{float: center;}

form 
{
    background-color:#444444;
    font-family: verdana, Arial, Helvetica, sans-serif;
    padding:15px;
    width:550px;
    border-radius:15px;
    float:center;
}

form ul li 
{
    background-color:#289dcc;
    border:solid 2px #ffffff;
    list-style:none;
    padding:5px;
    margin-bottom:3px;
    border-radius:10px;
    list-style:none;
}

form label 
{
    float:left;
    width:130px; 
}

form span 
{
    color:#ffffff;
    font-weight:bold;
    display:block;
    margin-bottom:5px;
}

form fieldset 
{
    border:none;
    margin-bottom:5px;
}

form fieldset:last-of-type {margin-bottom:0px;}

form legend 
{
    padding-bottom:3px;
    color:#ffff99;
    font-size:20px;
    font-weight:bold;
}
form input,form textarea {border-radius:5px;}

footer
{
    border-top: 10px solid #289dcc;
    list-style: none;
    background: #444444;
    color:#999999;
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
}  

footer a{color:#999999;}

footer a:hover{color:#ffffff;}

footer h3 
{
    list-style:none;
    
    text-align: center;
    
    background: #444444;
    
    font-family: verdana, Arial, Helvetica, sans-serif;
}

footer li
{
    list-style:none;
    
    text-align: center;
    
    background: #444444;
    
    font-family: verdana, Arial, Helvetica, sans-serif;
}

#text-1{float: left;}

#text-2{float: right;}

#text-4{float: center;}
